APP_DOMAIN=get.servd.pro
TRAEFIK_DOMAIN=traefik.servd.pro
ACME_EMAIL=get@servd.pro

POSTGRES_DB=servd
POSTGRES_USER=servd
POSTGRES_PASSWORD=change-this-password

SESSION_SECRET=change-this-session-secret
